---
import "@fontsource-variable/hanken-grotesk";
import "@styles/global.css";

import { Language } from "@i18n";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Head from "@components/Head.astro";

interface Props {
  language: Language;
  title?: string;
  description?: string;
}

const { language, title, description } = Astro.props;
---

<!doctype html>
<html lang={language}>
  <Head language={language} title={title} description={description}/>

  <body>
    <Header language={language} />

    <main>
      <slot />
    </main>

    <Footer language={language} />
  </body>
</html>

<style>
  @import "@styles/variables.css";

  main {
    max-width: var(--width-layout);
    margin: 0 auto;
  }
</style>
